lab-5/service.wsdl

<definitions name="ChatService"
  targetNamespace="urn:chat-service"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="urn:chat-service"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <types>
    <xsd:schema targetNamespace="urn:chat-service" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      
      <xsd:element name="pingRequest" type="xsd:anyType"/>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="message" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="echoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="text" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="echoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="message" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </types>

  <message name="pingRequest">
    <part name="parameters" element="tns:pingRequest"/>
  </message>
  <message name="pingResponse">
    <part name="parameters" element="tns:pingResponse"/>
  </message>

  <message name="echoRequest">
    <part name="parameters" element="tns:echoRequest"/>
  </message>
  <message name="echoResponse">
    <part name="parameters" element="tns:echoResponse"/>
  </message>

  <portType name="ChatServicePortType">
    <operation name="ping">
      <input message="tns:pingRequest"/>
      <output message="tns:pingResponse"/>
    </operation>
    <operation name="echo">
      <input message="tns:echoRequest"/>
      <output message="tns:echoResponse"/>
    </operation>
  </portType>

  <binding name="ChatServiceBinding" type="tns:ChatServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="ping">
      <soap:operation soapAction="urn:chat-service#ping"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="echo">
      <soap:operation soapAction="urn:chat-service#echo"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
  </binding>

  <service name="ChatService">
    <port name="ChatServicePort" binding="tns:ChatServiceBinding">
      <soap:address location="http://localhost:8000/service"/>
    </port>
  </service>
</definitions>

